<div id="<%= dom_id provider %>">
  <p>
    <strong><%= t(:name) %>:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong><%= t(:nit) %>:</strong>
    <%= provider.nit %>
  </p>

  <p>
    <strong><%= t(:contact_name) %>:</strong>
    <%= provider.contact_name %>
  </p>

  <p>
    <strong><%= t(:contact_phone) %>:</strong>
    <%= provider.contact_phone %>
  </p>

  <p>
    <strong><%= t(:bank_name) %>:</strong>
    <%= provider.bank_name %>
  </p>

  <p>
    <strong><%= t(:account_number) %>:</strong>
    <%= provider.account_number %>
  </p>

</div>
