<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= provider.contact_name %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= provider.contact_phone %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= provider.bank_id %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= provider.nit %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= provider.account_number %>
  </p>

</div>
