<p><h1><%= t(:providers) %></h1>

<br>
<%= button_to new_provider_path, method: :get, class: "btn btn-primary" do %>
  <i class="fa fa-plus-circle" style="color:white;"></i>&nbsp;<%= t(:new) %>
<% end %>

<p>
<div id="providers">
  <%= render "table", providers: @providers %>
</div>
<p>

<div class="pagination">
  <%= paginate @providers %>
</div>