<p style="color: green"><%= notice %></p>

<h1><%= t(:providers) %></h1>

<div id="providers">
  <% @providers.each do |provider| %>
    <%= render provider %>
    <p>
      <%= link_to t(:show), provider %>
    </p>
  <% end %>
</div>

<%= link_to t(:new), new_provider_path %>
