<p style="color: green"><%= notice %></p>

<h1><%= t(:providers) %></h1>

<%= link_to t(:new), new_provider_path %>
<p>
<div id="providers">
  <%= render "table", providers: @providers %>
</div>
<p>

<%= paginate @providers %>
