<p style="color: green"><%= notice %></p>

<%= render @bank %>

<div>
  <%= link_to t(:edit), edit_bank_path(@bank) %> |
  <%= link_to t(:back), banks_path %>

  <%= button_to t(:delete), @bank, method: :delete %>
</div>
